<!DOCTYPE html>
<html>
  <head>
    <title>TcBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
  <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   articles_path %></li>
            <li><%= link_to "Help",   '#' %></li>
            <% if current_user %>
              <li><%= link_to "Logout",   logout_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header><br>
 <div class="container">
    <%= yield %>
 </div><br><br>
</body>
</html>
